<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cotisse
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <h1 style="text-align: center;">Détails</h1>
  </div>
  

</ion-content>
