<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cotisse
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <h1 style="text-align: center;">Mes reservations</h1>
  </div>
  <ion-card *ngFor = "let reservation of mesReservations">
    <!--Liste d'éléments-->
    <li class="cards_item">
      <div class = "card">
        
        <div class = "card_content">
          <h3 class = "card_title"> Reservation pour : {{reservation.depart}} - {{reservation.arrivee}} </h3>
          <h3>Date du voyage: {{reservation.dateVoyage}}</h3>
          <h4 class = "card_title"> Nombre de places: {{reservation.nbPlaces}} </h4>
          <button class = "btn card_btn">Détails</button>
        </div>
      </div>
    </li>
  </ion-card>
  
</ion-content>