<ion-header>
  <ion-toolbar color = "danger">
    <ion-title>
      Cotisse
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <h1 style="text-align: center;">Connexion</h1>
    <form  #form="ngForm" (ngSubmit)="register(form)">
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h3>Bienvenue, veuillez vous connecter à votre compte</h3>
            </div>
            <div padding>
              <ion-item>
                <ion-input name="login" type="text" placeholder="Email" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="password" type="password" placeholder="Mot de passe" ngModel required></ion-input>
              </ion-item>
            </div>
            <div padding>
              <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Se connecter</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
