<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1"> 
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Cotisse
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list *ngFor="let p of navigate">
        <ion-menu-toggle auto-hide="true" >
          <ion-item routerDirection = "forward" [routerLink]="[p.url]">
            <ion-icon [name]="p.icon" slot="start"></ion-icon>
              {{p.title}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
