<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cotisse
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="center">
    <h1 style="text-align: center;">Réserver</h1>
  </div>
 <ion-grid>
   <ion-row>
     <ion-col>
      <ion-row *ngFor="let places of chaises">
        <ion-col *ngFor="let place of places.col">
           <ion-button *ngIf="place != undefined" color="{{place.color}}">{{place.numero}}</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-title position="stacked">Places à réserver</ion-title>
        <ion-item>
          <ion-input name="placesAreserver" [(ngModel)]="placesAreserver" type="text" placeholder="5,9,11"  required></ion-input>
        </ion-item>
        <ion-button (click)="reserverPlaces(placesAreserver)">Réserver</ion-button>
      </ion-row>
     </ion-col>
   </ion-row>
 </ion-grid>

</ion-content>
