<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cotisse
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <h1 style="text-align: center;">Recherche</h1>
  </div>
  <ion-list>
    <!--<select name="trajetExistant" [(ngModel)]="trajetExistant">
      <option *ngFor="let trajet of trajets" >{{trajet.depart}} - {{trajet.arrivee}}</option>>
    </select>-->
    <ion-item>
      <ion-label position="stacked">Lieu de départ</ion-label>
      <ion-input autocomplete="on" type="text" placeholder="Antananarivo" name="lieuDepart" [(ngModel)]="depart"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Lieu d'arrivée</ion-label>
      <ion-input autocomplete="on" type="text" placeholder="Mahajanga" name="lieuArrivee" [(ngModel)]="arrivee"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Date de départ</ion-label>
      <ion-input autocomplete="on" type="text" name="dateDepart" placeholder="2020-02-02" [(ngModel)]="dateDepart"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nombre de passagers</ion-label>
      <ion-input autocomplete="off" type="text" placeholder="2" name="passagers" [(ngModel)]="passagers"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" share="round" color="primary" (click)  = "rechercher(depart, arrivee, dateDepart, passagers)" style="width: 40vw;margin-left: 20vw;">Rechercher</ion-button>

  <ion-card *ngFor = "let item of result">
    <!--Liste d'éléments-->
    <li class="cards_item">
      <div class = "card">
        
        <div class = "card_content">
          <h3 class = "card_title"> Voyage pour : {{item.depart}} - {{item.arrivee}} </h3>
          <h3>Date du voyage: {{item.dateVoyage | date:'dd-MM-yyyy HH:mm:ss'}}</h3>
          <h4> Tarif: {{item.tarif}} Ariary </h4>
          <button class = "btn card_btn"  (click) = gotoDetails(item.id,item.vehicule)>Réserver</button>
        </div>
      </div>
    </li>
  </ion-card>
</ion-content>
